<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">

                <h1 class="text-center" style="margin-bottom: 30dp;" >Inicia sesiòn</h1>
                <form>
                    <div class="form-group">
                        <label for="email"> Correo electronico</label>
                      <input type="email" class="form-control " 
                      id="exampleInputEmail1" aria-describedby="emailHelp" 
                      placeholder="Ingresa correo electronico">                      
                    </div>

                    <div class="form-group">

                        <label for="password">Contraseña</label>
                      <input type="password" class="form-control"
                       id="exampleInputPassword1" 
                       placeholder="Ingresa contrase単a">
                    </div>
                    
                    <button type="submit" class="btn btn-dark btn-lg btn-block" >vamos!</button>
                  </form>
                  <div class="form-group mt-3">
                    <p> No tienes una cuenta? <a [routerLink]="['/register']" > Registrate </a> </p>
                 </div>

            </div>
        </div>
    </div>
</div>

